@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
* {
	font-family: "Lato";
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}
body {
	background-color: rgb(245,245,245);
	overflow-x: hidden;
}
/*--- JUMBOTRON START ---*/
.jumbotron {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	max-height: 400vh;
	background-image: url("assets/bg-atas.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}
.logo {
	margin-top: 5px;
	text-align: center;
	width: 100%;
}
.logo img {
	transform: scale(0.6);
}
.jumbotron h2 {
	color: white;
	max-width: 80vw;
	font-size: 1.3em;
}
.jumbotron h2 strong {
	font-weight: 900;
	font-size: 1em;
}
.jumbotron h1 {
	min-width: 330px;
	max-width: 80vw;
	font-weight: 900;
	color: rgb(255,176,0);
	font-size: 2em;
	letter-spacing: 2px;
}
.jumbotron h3 {
	color: white;
	max-width: 85vw;
	font-size: 1.2em;
	line-height: 1.5em;
}
.merah {
	margin: 0px 0px 0px 0px;
	background-image: url("assets/merah.png");
	background-size: cover;
	width: 350px;
	height: 80px;
	padding-top: 30px;
}
.tombol {
	display: flex;
	justify-content: center;
	width: 100vw;
}
.btn-chat-atas div {

	margin-bottom: 20px;
	display: flex;
	align-items: center;
	width: 320px;
	height: 50px;
	background-color: rgb(88,255,83);
	border-radius: 5px;
	color: white;
}
a {
	text-decoration: none;
}

.btn-chat-atas div:active {
	transform: scale(1.1);
}
/*--- JUMBOTRON END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--- CONTENT START ---*/
.content {
	margin: auto;
	width: 100%;
	background-color: rgb(245,245,245);
}
.card {
	position: relative;
	top: -40px;
	margin: auto;
	min-width: 330px;
	max-width: 80vw;
	background-color: white;
	border-radius: 10px;
	line-height: 1.5em;
}
.warna-content {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 25px;
	background-color: rgb(216,83,83);
}
.sisi-kiri {
	padding: 0px 20px 20px 20px;
}
.sisi-kiri .header {
	margin-top: 20px;
	text-align: start;
	font-size: 1.3em;
	line-height: 1.2em;
}
.sisi-kiri .header span {
	color: rgb(216,83,83);
	font-weight: 900;
	font-size: 1em;
}
.deskripsi-kiri p {
	font-size: 1.1em;
	text-align: start;
	color: rgb(165,165,165);
}
.sisi-kanan div {
	padding: 0px 20px 40px 20px;
	color: rgb(165,165,165);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;

}
.sisi-kanan div img {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 5px;
}
.sisi-kanan div p {
	text-align: start
}
.kenapa-kami {
	width: 100%;
	background-color: rgb(245,245,245);
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px 5px 0px 5px;
}
.kenapa-kami h2 {
	margin-top: 30px;
	font-weight: 900;
	font-size: 1.4em;
}
.kenapa-kami h3 {
	color: rgb(165,165,165);
}
.alasan {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card-alasan {
	min-width: 320px;
	max-width: 540px;
	padding: 0px 20px 0px 40px;
	margin: 25px 0px 25px 0px;
	position: relative;
	align-items: center;
}

.icon {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.desk-alasan {
	display: inline-block;
	width: 90%;
	margin-left: 40px;
}
.desk-alasan h3 {
	color: black;
	font-weight: 900;
	text-align: start;
	margin-bottom: 15px;
	font-size: 1.2em;
}
.desk-alasan h4 {
	color: rgb(165,165,165);
	line-height: 1.5em;
	text-align: start;
	font-size: 1.1em;
}

/*--- CONTENT END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--- GALLERY START ---*/
.gallery {
	background-color: rgb(245,245,245);
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}
.gallery {
	font-size: 1.2em;
	text-align: center;
}

.content-gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.content-gallery img {

	width: 320px;
	height: 240px;
	border-radius: 10px;
	margin: 20px;
}
/*--- GALLERY END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--- TESTIMONI START ---*/
.testimoni {
	display: flex;
	width: 100%;
	padding: 50px 0px 75px 0px;
	justify-content: center;
	background-color: rgb(221,207,152);
}
.card-testi {
	display: flex;
	border-radius: 10px;
	width: 85%;
	background-color: white;
	flex-direction: column;
	padding-bottom: 50px;
}
.warna-testi {
	width: 100%;
	height: 25px;
	border-radius: 10px 10px 0px 0px;
	background-color: rgb(255,170,0);
}
.isi-testi {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}
.testi {
	margin: 20px 10px 20px 10px;
	min-width: 300px;
	max-width: 90%;
}
.testi img {
	width: 50px;
	height: 50px;
}
.testi p, .testi h5 {
	margin-top: 10px;
	color: rgb(165,165,165);
}
.testi h4 {
	font-weight: 900;
}
/*--- TESTIMONI END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--- AJAKAN START ---*/
.ajakan {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(216,83,83);
	padding: 5px 20px 60px 20px;
}
.ajakan h3 {
	width: 100%;
	font-weight: 900;
	font-size: 1.8em;
	letter-spacing: .05em;
	margin: 20px 0px 20px 0px;
	line-height: 1.5em;
	color: white;
}
.ajakan h4 {
	color: white
}
.some-whatsapp {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.card-whatsapp {
	margin: 20px;
	padding: 5px 0px 20px 0px;
	width: 320px;
	min-height: 280px;
	max-height: 340px;
	border-radius: 8px;
	background-color: white;
}
.card-whatsapp h4 {
	color: black;

}
.sample-image {
	margin: auto;
	margin-top: 10px;
	width: 290px;
	height: 230px;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 160px;
}
.sample-image a div {
	margin: auto;
	width: 240px;
	height: 50px;
	background-color: rgb(88,255,83);
	border-radius: 10px;
	color: white;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.sample-image a div p {
	margin-left: 20px;
}
/*--- AJAKAN END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--- PROFIL START ---*/
.profil {
	display: flex;
	width: 100%;
	background-color: rgb(245,245,245);
	text-align: center;
	padding: 70px 10px 70px 10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1em;
}
.profil img {
	transform: scale(1.05);
}
.profil p {
	max-width: 800px;
	color: rgb(165,165,165);
}
/*--- PROFIL END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--- CONTACT START ---*/
.contact {
	width: 100%;
	background-image: url("assets/bg-bawah.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 0px 140px 0px;
	text-align: center;
	color: white;
	font-size: .9em;
}
.contact h2 {
	font-weight: 900;
}
.some-contact {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.card-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 30px 0px 30px;
	margin: 20px 90px 20px 90px;
	min-width: 350px;
}
.card-contact img {
	margin-bottom: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.card-contact h3 {
	font-weight: 900;
}
.card-contact h4 {
	max-width: 450px;
}
.card-contact a p {
	line-height: 1.3em;
	text-decoration: none;
	width: 220px;
	padding: 10px;
	height: 40px;
	background-color: rgb(88,255,83);
	color: white;
	font-size: 1.05em;
	border-radius: 10px;
}
/*--- CONTACT END ---*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/