@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Lato";
    --color-merah: #d85353;
    --color-merah-muda: #D85353;
    --color-kuning: #ffb000;
    --color-hijau: #58ff53;
    --color-oren-muda: #ddcf98;
}

*::-webkit-scrollbar {
    display: none;
}